.navbar {
    z-index: 10;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    text-align: center;
}

.nav-title {
    font-size: 1rem;
    color:var(--color-white);
}

nav {
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    padding: 0.25rem 0.5rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    text-decoration: none;
    background: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    color: var(--color-off-white);
    font-size: 2rem;
}

nav a:hover{
    background-color: var(--color-background);
}

nav .nav-active {
    color: var(--color-white);
}